<header-bar
  title="room.title"
  left-buttons="leftButtons"
  right-buttons="rightButtons"
  type="bar-energized"
  align-title="center">
</header-bar>

<view title="room.title">
  <content
    scroll="true"
    on-refresh="onRefresh()"
    on-refresh-opening="onRefreshOpening(amount)"
    refresh-complete="refreshComplete"
    animate-nav="true"
    has-header="true"
    has-footer="true"
    >

    <list>
      <item ng-repeat="message in messages | orderBy:'created_at'" type="item-text-wrap" ng-show="message.content">
        <h4 class="author">{{message.created_by}}</h4>
        <p class="content">{{message.content}}</p>
        <h5 class="time">{{message.created_at | dateToday: 'short' }}</h5>
      </item>
    </list>

  </content>

  <div class="bar bar-footer bar-stable" id="bar-footer-message-box">
    <div class="list list-inset">
      <form ui-keypress="{13:'submitAddMessage($event)'}" data-ng-submit="submitAddMessage()" >
        <label class="item item-input">
          <input type="text" placeholder="your message ..." data-ng-model="newMessage">
          <button class="button button-positive">Send</button>
        </label>
      </form>
    </div>
  </div>
</view>